.orangestor {
	height: 100px;
	max-height: 100px;
	overflow: scroll;
	border: 1px solid grey;
	padding: 10px;
	word-wrap: break-word;
}

h3 {
	float: left
}

#orangestor-refresh {
	float: right;
	margin-right: 20px;
	margin-top: 10px;
	cursor: pointer
}
